.pin-container {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;

    background: rgba(255, 255, 255, 0.7);
}

.pin-input-field {
    font-family: 'Courier', sans-serif;
    border: none;
    border-bottom: 2px solid black;
    border-radius: 0;
    width: 50px;
    font-size: 40px;
    text-align: center;
    margin-right: 10px;
    padding: 5px 10px;
    outline: none;
    background-color: rgba(255, 255, 255, 0);
    transition: border 0.5s ease-in-out;
}

.pin-input-field::-webkit-outer-spin-button,
.pin-input-field::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.pin-input-field[type=number] {
    -moz-appearance: textfield;
}

.pin-input-field:focus {
    border: none;
    outline: none;
    border-bottom: 2px solid #00b0ff;
    box-shadow: 0px 1px 0px #00b0ff;
    background-color: rgba(255, 255, 255, 0);
}


.pin-input-field::selection {
    background-color: transparent;
}

.alert2 {
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 0.5s ease-in-out;
    z-index: 3;
}

.gameInfo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border: 1px solid black;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out;
    z-index: 10;
}

.gameInfo.show, .alert2.show {
    opacity: 1;
    visibility: visible;
}

.gameInfo.hide, .alert2.hide {
    opacity: 0;
    pointer-events: none;
    transition: 0.5s ease-in-out;
}
